<div class="login-page mt-0 pt-0">
    <div class="mt-0 login-box card">
        <div class="login-logo mt-0">
            <img src="assets/img/icon.png" alt="logo" class="rounded" width="100" height="100"><br>
            <a><b>Proyecto</b>Tapatio</a>
        </div>
        <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="form-group">
                    <label>Correo electr&oacute;nico</label>
                    <input type="email" class="form-control" placeholder="Ej. alguien@gmail.com" formControlName="correo">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="contra">
                </div>
                <hr>
                <div class="container-fluid text-center">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button #cerrarModalError type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body text-center">
                <h5 class="text-danger"> Su cuenta ha sido desactivada. Contactar con el administrador.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
    <button #modalError type="button" class="invisible" data-toggle="modal" data-target="#modalError"></button>
</div>