<div class="container-fluid animated fadeIn fast pt-2">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Buscar Entregas</h4>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6 d-block mx-auto">
            <div class="input-group input-group-sm">
                <input class="form-control" type="search" placeholder="Buscar" #buscar (keyup.enter)="buscarEntrega( buscar.value)">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="button" (click)="buscarEntrega( buscar.value )">
                  <i class="fas fa-search"></i>
                </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="d-block mx-auto">
            <h5 class="text-danger" *ngIf="encontrado == false">{{ mensaje }}</h5>
        </div>
        <div class="col-md-12 text-center" *ngIf="encontrado == true">
            <h5>Resultados de Búsqueda:</h5>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col" style="width: 20%;">ID Boleto</th>
                        <th scope="col" style="width: 20%;">Nombre de Boleto</th>
                        <th scope="col" style="width: 20%;">Cantidad Solicitada</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let resultado of busqueda">
                        <th scope="row" class="align-middle">{{ resultado.id_boleto }}</th>
                        <td class="align-middle text-middle">{{ resultado.nombre_boleto }}</td>
                        <td class="align-middle">{{ resultado.cantidad }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary mx-auto d-block" type="button" (click)="tomarEntrega( id_entrega )">Tomar</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="d-block mx-auto">
            <h5 class="text-danger" *ngIf="!pendientes"> No hay pendientes. </h5>
        </div>
        <div class="col-md-12" *ngIf="pendientes">
            <h4 class="text-center mb-3">Entregas en Proceso</h4>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col" style="width: 5%;">ID</th>
                        <th scope="col" style="width: 15%;">Boleto</th>
                        <th scope="col" style="width: 10%;">Cantidad</th>
                        <th scope="col" style="width: 10%;">Celular</th>
                        <th scope="col" style="width: 15%;">Celular Extra</th>
                        <th scope="col" style="width: 20%;">Cliente</th>
                        <th scope="col" style="width: 10%;">Cancelar</th>
                        <th scope="col" style="width: 10%;">Terminar</th>

                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let entrega of entregas">
                        <th scope="row" class="align-middle"> {{entrega.id_venta}} </th>
                        <td class="align-middle"> {{entrega.nombre_boleto}} </td>
                        <td class="align-middle"> {{entrega.cantidad}} </td>
                        <td class="align-middle"> {{entrega.celular}} </td>
                        <td class="align-middle"> {{entrega.celular_ext}} </td>
                        <td class="align-middle"> {{entrega.nombre}} </td>
                        <td class="align-middle"> <button class="btn btn-danger" (click)="cancelarEntrega( entrega.id_venta )"> Cancelar </button> </td>
                        <td class="align-middle"> <button class="btn btn-success" (click)="terminarEntrega( entrega.id_venta )"> Terminar </button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-3 border-primary">
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Registrar Venta Externa.
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formVentaExt" (submit)="guardarVentaExt()">
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12">
                                        <label for="evento">Evento:</label>
                                        <select (change)="getBoletos($event)" id="evento" class="form-control">
                                      <option *ngFor="let evento of eventos" [value]="evento.id_evento"> {{evento.nombre_evento}} </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="input-group form-row mb-3" *ngIf="id_evento != null">
                                    <div class="col-md-12">
                                        <label for="boletoReferencia">Boleto de Referencia:</label>
                                        <select id="boletoReferencia" class="form-control" formControlName="boleto">
                                        <option *ngFor="let boleto of boletos" [value]="boleto.id_boleto"> {{boleto.nom_bol}}  </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="inventario">Cantidad:</label>
                                        <input type="number" min="1" step="1" placeholder="0" id="inventario" class="form-control" formControlName="cantidad" [class.is-invalid]="validacionCantidad">
                                        <small *ngIf="validacionCantidad" class="form-text text-danger">No puede ser 0.</small>

                                    </div>
                                    <div class="col-md-6">
                                        <label for="precio">Precio de Venta por Boleto:</label>
                                        <input type="number" min="1" step="1" placeholder="0" id="precio" class="form-control" formControlName="precio" [class.is-invalid]="validacionPrecio">
                                        <small *ngIf="validacionPrecio" class="form-text text-danger">no puede ser 0.</small>

                                    </div>
                                </div>
                                <hr>
                                <div class="row pb-2 mt-0">
                                    <div class="col-md-12 text-center">
                                        <button [disabled]="formVentaExt.invalid" type="submit" class="btn btn-outline-success">Registrar Venta</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
